Ollama_flow_N8N.json
{
  "name": "Ollama NDJSON to Telegram + Email + Debug",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/generate",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"mistral\",\n  \"prompt\": \"Hola, genera un mensaje de prueba para n8n\",\n  \"max_tokens\": 100\n}"
      },
      "name": "Ollama Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Nodo que parsea NDJSON y concatena texto\nconst ndjson = items[0].json.data;\nconst lines = ndjson.trim().split('\\n');\nlet finalText = '';\n\nfor (const line of lines) {\n  const obj = JSON.parse(line);\n  if (obj.response) finalText += obj.response;\n}\n\nreturn [{ json: { text: finalText } }];"
      },
      "name": "Parse NDJSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "debugText",
              "value": "={{$json[\"text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Debug Node",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [700, 150]
    },
    {
      "parameters": {
        "chatId": "-1002828499048",
        "text": "={{$json[\"text\"]}}"
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "telegramApi": {
          "id": "1"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "luisg@softclass.co",
        "toEmail": "piedecuestadigital@gmail.com",
        "subject": "Mensaje desde Ollama NDJSON",
        "text": "={{$json[\"text\"]}}"
      },
      "name": "Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [700, 450],
      "credentials": {
        "smtp": {
          "id": "1"
        }
      }
    }
  ],
  "connections": {
    "Ollama Request": {
      "main": [
        [
          {
            "node": "Parse NDJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse NDJSON": {
      "main": [
        [
          {
            "node": "Debug Node",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
