workflows/RSSFLow.json
{
  "name": "RSS Tech News to Email",
  "nodes": [
    {
      "parameters": {
        "interval": 60
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TechCrunch/",
        "options": {}
      },
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"title\"]}}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "name": "Filter AI Articles",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "fromEmail": "danielau@softclass.co",
        "toEmail": "piedecuestadigital@gmail.com",
        "subject": "Nueva noticia de AI",
        "text": "Título: {{$json[\"title\"]}}\nEnlace: {{$json[\"link\"]}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1000, 250],
      "credentials": {
        "smtp": {
          "id": "your-smtp-credential-id"
        }
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Filter AI Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter AI Articles": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
